.calendarContainer{
  display: flex;
  justify-content: space-between;
  background: black;
  width: 624px;
  padding: 10px 10px;
}

.column{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 84px;
  width: 12px;
}

.day{
  width: 10px;
  height: 10px;
}

.Empty{
  background: none;
}

.NotClicked{
  background: #ebedf0;
}

.Clicked{
  background: red;
}
